html {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    margin: 20px;
    font-weight: 500;
}

h2 {
    margin: 15px;
}

#sct-prf1 {
    padding: 20px;
    margin-bottom: 5px;
}

#sct-prf2 {
    padding: 20px;
    margin-bottom: 60px;
}

body {
    background-image: linear-gradient(to right, #cae2cf, #9dbbab, #80af98, #76b391, #50a081, #35a882);
}

#sct-prf3 {
    display: flex;
    justify-content: center;
}