html {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    margin: 20px;
    font-weight: 500;
}

h2 {
    margin: 15px;
}

#sct-prf1 {
    padding: 20px;
    margin-bottom: 5px;
}

#sct-prf2 {
    padding: 20px;
    margin-bottom: 60px;
}

body {
    background-image: linear-gradient(to right, #a4e2b1, #48b177, #4ecc8d, #5fe7a3, #20a773, #119166);
}

#sct-prf3 {
    display: flex;
    justify-content: center;
}