html {
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;
}

td {
    height: 60px;
    padding: 15px;
    font-size: 30px;
    color: white;
    text-align: center;
}

th {
    font-size: 80px;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, #ca565f, #cc5f5f, #cf5252, #c24b43)
}