    html {
        font-family: 'Karla', sans-serif;
    }
    
    #sct-header {
        height: 550px;
        background: #000;
        color: white;
        font-size: larger;
    }
    
    .intro {
        margin-left: 3%;
    }
    
    #sct-contenedor {
        /* align-items Permite acomodar elementos hijos segun su eje secundario*/
        /* justify-content Permite acomodar elementos hijos segun su eje principal*/
        display: flex;
        flex-direction: row;
        height: 50%;
        background: black;
        color: white
    }
    
    .caja {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5%;
        width: 50%;
        font-weight: bold;
    }
    
    .primera {
        border: #000 solid;
        justify-content: left;
        margin-left: 3%;
    }
    
    .segunda {
        border: #000 solid;
        justify-content: right;
        margin-right: 3%;
    }
    
    #sct-contenedor2 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 10%;
        justify-content: flex-end;
        margin-left: 3%;
    }
    
    .hipervinculo {
        height: 4%;
        width: 6%;
        color: white;
        display: flex;
        flex-direction: row;
        margin-top: 8%;
        margin-bottom: 5%;
    }
    
    .uno {
        margin-right: auto;
        font-weight: bold;
    }
    
    .dos {
        margin-right: 35%;
        width: 10%;
        align-items: center;
        font-weight: bold;
    }
    
    .tres {
        font-weight: bold;
    }
    
    .cuatro {
        font-weight: bold;
    }
    
    .cinco {
        font-weight: bold;
    }
    
    .seis {
        font-weight: bold;
    }
    
    .siete {
        font-weight: bold;
    }
    
    .ocho {
        margin-right: 1%;
        font-weight: bold;
    }
    
    #sct-descriptiva1 {
        margin: 3%;
        text-align: left;
        font-size: 95px;
        font-weight: 550;
    }
    
    #sct-contenedor3 {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 1%;
        justify-content: flex-end;
        margin-left: 3%;
    }
    
    .hipervinculo2 {
        height: 4%;
        width: 6%;
        color: white;
        display: flex;
        flex-direction: row;
        margin-top: 8%;
        margin-bottom: 5%;
    }
    
    .nueve {
        margin-right: auto;
        font-weight: bold;
    }
    
    .diez {
        margin-right: 35%;
        width: 10%;
        align-items: center;
        font-weight: bold;
    }
    
    .once {
        font-weight: bold;
    }
    
    .doce {
        font-weight: bold;
    }
    
    .trece {
        font-weight: bold;
    }
    
    .catorce {
        font-weight: bold;
    }
    
    .quince {
        font-weight: bold;
    }
    
    .dieciseis {
        margin-right: 1%;
        font-weight: bold;
    }
    
    #sct-descriptiva2 {
        margin: 3%;
        text-align: left;
        font-size: 95px;
        font-weight: 550;
        line-height: 0.1;
    }
    
    #sct-descriptiva3 {
        margin-left: 20%;
        text-align: justify;
        font-size: 45px;
        font-weight: 500;
        line-height: 0.9;
    }
    
    #sct-center {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20%;
        width: 50%;
    }